app {
  margin: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
h1 {
  display: flex;
  float: right;
}
img {
  transition: transform 200ms;
  object-fit: cover;
}

img.left {
  transform: translateX(-100vw);
}

img.right {
  transform: translateX(100vw);
}

img.next {
  display: none;
}
